* { 
    margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box; 
  }

  body { 
    font: 13px Helvetica, Arial; 
  }

  h1 {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .gauge-container {
    width: 300px;
    height: 300px;
    display: block;
    padding: 10px;    
  }
  .gauge-container > .gauge > .dial {
    stroke: #eee;
    stroke-width: 5;
    fill: rgba(0,0,0,0);
  }
  .gauge-container > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 5;
    fill: rgba(0,0,0,0);
  }
  .gauge-container > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
  } 